<!--<footer class="fixed-bottom footer-flex">-->
<!--    <div class="">-->
<!--        <h3>Adopt A Pet</h3>-->
<!--        <p>1/3 Paeroa Street<br>Newtown, Wellington</p>-->
<!--        <p>Phone: +64 04 123 4567 <br>Fax: +64 04 765 4321</p>-->
<!--        <p>Hours of operation:</p>-->
<!--        <ul>-->
<!--            <li>Monday-Friday 8am - 5pm</li>-->
<!--            <li>Saturday 10am - 4pm</li>-->
<!--            <li>Sunday 10am - 12pm</li>-->
<!--        </ul>-->
<!--    </div>-->
    <!--<div class="">-->
    <!--    <h3>CONNECT WITH US</h3>-->
    <!--    <ul>-->
    <!--        <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i><span>Blog</span></a></li>-->
    <!--        <li><a><i class="fa fa-flickr" aria-hidden="true"></i><span>Flickr</span></a></li>-->
    <!--        <li><a><i class="fa fa-facebook-official" aria-hidden="true"></i><span>Facebook</span></a></li>-->
    <!--        <li><a><i class="fa fa-twitter" aria-hidden="true"></i><span>Twitter</span></a></li>-->
    <!--        <li><a><i class="fa fa-instagram" aria-hidden="true"></i><span>Instagram</span></a></li>-->
    <!--    </ul>-->
    <!--</div>-->
<!--</footer>-->
<footer class="footer-flex">
    <div>
        <h3>ADOPT A PET</h3>
        <p>1/3 Paeroa Street<br>Newtown, Wellington</p>
        <p>Phone: +64 04 123 4567 <br>Fax: +64 04 765 4321</p>
    </div>
    <div>
        <h3>HOURS OF OPERATION</h3>
        <p>Monday-Friday 8am - 5pm</p>
        <p>Saturday 10am - 4pm</p>
        <p>Sunday 10am - 12pm</p>
    </div>
    <div>
        <h3>CONNECT WITH US</h3>
        <ul>
            <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i><span>Blog</span></a></li>
            <li><a><i class="fa fa-flickr" aria-hidden="true"></i><span>Flickr</span></a></li>
            <li><a><i class="fa fa-facebook-official" aria-hidden="true"></i><span>Facebook</span></a></li>
            <li><a><i class="fa fa-twitter" aria-hidden="true"></i><span>Twitter</span></a></li>
            <li><a><i class="fa fa-instagram" aria-hidden="true"></i><span>Instagram</span></a></li>
        </ul>
    </div>
</footer>
        
        
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="/scripts/scroll.js"></script>
    </body>
</html>