<!DOCTYPE html>
<html>
    <head>
        <title>Adopt a pet</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed" rel="stylesheet">
        <link rel="stylesheet" href="/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://use.fontawesome.com/896a1204c6.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

              <!--Navbar-->
        <nav class="navbar navbar-default" id="back-to-top">
          <div class="container">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <div id="nav-logo">
                        <a href="/" ><img class="navbar-brand" src="/images/logo.png"></a>
                    </div>
                  
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right" id="nav-right">
                        <li><a href="/about">About</a></li>
                        <li><a href="/team">The Team</a></li>
                        <li><a href="/adopt">Adopt</a></li>
                        <li><a href="/volunteer">Volunteer</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
          </div>

        </nav>
        
        <div class="arrow-up">
            <a href="#back-to-top"><i class="fa fa-chevron-circle-up" aria-hidden="true"></i></a>
        </div>
        
        
