<% include partials/header %>
    <div class="container about">   <!--Container opening div-->
        <div>
            <h2>ABOUT US</h2>
        </div>
        <div class="row">
           
            <div class="col-sm-12 about-text">
                <h3>Learn more about Adopt A Pet</h3>
                <p>The Ottawa Humane Society is a non-profit, community-based organization and a registered charity. We have a volunteer board of directors, drawn from our supporters and the community at large. Since 1888, we have been the leading organization providing a safe haven for sick, injured and homeless animals in Ottawa.</p>
            </div>
        </div>
        
        <div class="row about-sections">
            <div class="col-md-6 col-sm-12 hours">
                <h3 class="about-sections-heading">CONTACT HOURS & INFO</h3>
                <img class="img-thumbnail img-responsive" src="https://newbloggycat.files.wordpress.com/2016/06/vet-waiting-room-1.jpg">
                <div class="about-sections-btn">
                    <a href="/contact"><button class="btn btn-primary btn-med">Find out more</button></a>
                </div>
                
            </div>
            <div class="col-md-6 col-sm-12 team">
                <h3 class="about-sections-heading">MEET THE TEAM</h3>
                <img class="img-thumbnail img-responsive" src="https://journeyrecruitment.co.uk/wp-content/uploads/2015/08/CEO_Dog.jpg">
                <div class="about-sections-btn">
                    <a href="/team"><button class="btn btn-primary btn-med">Find out more</button></a>
                </div>
                
            </div>
        </div>
    </div>   <!--Container closing div-->


<% include partials/footer %>