<% include partials/header %>

    <div class="container team-section">   <!--Container opening div-->
    
        <div>
            <h2>ANIMALS FOR ADOPTION</h2>
        </div>
        <div class="row">
            <div>
                <h4>What sort of animal would you like to adopt?</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3>DOGS</h3>
                <img class="img-thumbnail img-responsive" src="images/dogs/adoptdog.jpg">
                <div class="adopt-dogs">
                    <a class="btn btn-primary custom-btn btn-lg" href="/adopt/dogs">View all dogs</a>
                </div>
            </div>
            <div class="col-md-4">
                <h3>CATS</h3>
                <img class="img-thumbnail img-responsive" src="images/cats/15.jpg">
                <div class="adopt-dogs">
                    <a class="btn btn-primary custom-btn btn-lg" href="/adopt/cats">View all cats</a>
                </div>
            </div>
            <div class="col-md-4">
                <h3>OTHER ANIMALS</h3>
                <img class="img-thumbnail img-responsive" src="images/others/adoptothers.jpg">
                <div class="adopt-dogs">
                    <a class="btn btn-primary custom-btn btn-lg" href="/adopt/others">View all other animals</a>
                </div>
            </div>
        </div>
    </div>  <!--Container closing div -->
    
<% include partials/footer %>