<% include partials/header %>

    <div class="container team-section">   <!--Container opening div-->
    
        <div>
            <h2>ANIMALS FOR ADOPTION</h2>
        </div>
        <div class="row">
            <div>
                <h4>What sort of animal would you like to adopt?</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3>DOGS</h3>
                <img class="img-thumbnail img-responsive" src="https://i.ytimg.com/vi/opKg3fyqWt4/hqdefault.jpg">
                <div class="adopt-dogs">
                    <button class="btn btn-success btn-lg"><a href="/adopt/dogs">View all dogs</a></button>
                </div>
            </div>
            <div class="col-md-4">
                <h3>CATS</h3>
                <img class="img-thumbnail img-responsive" src="http://www.laughspark.info/thumbfiles/705X705/the-cute-cat-kitten-having-fun-with-hat-635725283318582283-13682.jpg">
                <div class="adopt-dogs">
                    <button class="btn btn-success btn-lg"><a href="/cats">View all cats</a></button>
                </div>
            </div>
            <div class="col-md-4">
                <h3>OTHER ANIMALS</h3>
                <img class="img-thumbnail img-responsive" src="http://www.dumpaday.com/wp-content/uploads/2011/10/cute-hamster-funny-pictures.jpg">
                <div class="adopt-dogs">
                    <button class="btn btn-success btn-lg"><a href="/others">View all other animals</a></button>
                </div>
            </div>
        </div>
    </div>  <!--Container closing div -->
    
<% include partials/footer %>