<% include partials/header %>

<div class="container">
    <h2>ADOPTION ENQUIRIES</h2>
  <form class="contact-form">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="exampleInputName1">First Name</label>
        <input type="text" class="form-control" id="exampleInputName1" placeholder="First Name">
      </div>
      <div class="form-group">
        <label for="exampleInputName1">Second Name</label>
        <input type="text" class="form-control" id="exampleInputName1" placeholder="Second Name">
      </div>
      <div class="form-group">
        <label for="exampleInputName1">Animal ID</label>
        <input type="text" class="form-control" id="exampleInputName1" placeholder="Animal ID">
      </div>
      <div class="form-group">
        <label for="exampleInputFile">Personal Information</label>
        <textarea class="form-control" rows="6"></textarea>
        <p class="help-block">Tell us about your situation, living conditions, etc...</p>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Add me to the email list please
        </label>
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>



<% include partials/footer %>