<% include partials/header %>

    <div class="container team-section">   <!--Container opening div-->
        <div>
            <h2>THE TEAM</h2>
        </div>
        <div class="row">
            <div class="col-sm-12 team-text">
                <p>The Adopt a Pet team are committed to ensuring every animal that comes through our doors is treated with the respect and compassion that they deserve.</p>
                <p>We will help you to find your new companion and give you all the advice and support that you would need to ensure the best start and future for you and your new pet.</p>
                <p>Our staff come from all walks of life and backgrounds but the one thing they all have in common is a love of all creatures and the understanding that every living animal deserves to live a peaceful and safe life.</p>
            </div>
        </div>
        <div class="row profiles">
            <div class="col-md-4 col-sm-6 col-xs-12">
                    <h3>Dr Sally Smith</h3>
                    <h5>Senior Vet</h5>
                    <img class="img-thumbnail img-responsive" src="https://fthmb.tqn.com/aWtR4qyG4gw3o1M1FSVpF7Jkf18=/735x0/106491630-56a0f1453df78cafdaa69f21.jpg">
                    <div id="sallyHidden" class="team-hidden-content">
                        <p>Dr Sally is a senior veterinarian at Adopt a Pet.<br>
                        From a very young age Sally knew that she wanted to be a vet and devote her life to animals.  With a Bachelor of Veterinary Science from one of the most reputable universities in the country, Sally brings invaluable knowledge to the organisation and she is always happy to help out new owners or those who just have a curly question that they need answered.</p>
                    </div>
                    <button class="btn btn-primary custom-btn team-show-content">Read more</button>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                 <h3>Dr Bob Builder</h3>
                <h5>Senior Vet</h5>
                <img class="img-thumbnail img-responsive" src="http://career.iresearchnet.com/wp-content/uploads/2014/06/Veterinarian.jpg">
                <div class="team-hidden-content">
                    <p>Dr Bob is a senior veterinarian at Adopt a Pet.<br>
                    Whether he's treating a gerbil or a german shepherd, Bob loves every animal that comes across his treatment table.<br>Bob started his career as a veterinarian for the military, taking care of the dogs that accompany our country's soliders.  After a tour overseas, Bob decided that he would prefer to dodge big city traffic rather than shrapnel and so settled in a quiet suburb and took up his role at Adopt a Pet.</p>
                </div>
                
                <button id="showMore" class="btn btn-primary custom-btn team-show-content">Read more</button>   
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <h3>Daisy Duke</h3>
                <h5>Senior Veterinary Technologist</h5>
                <img class="img-thumbnail img-responsive" src="https://cdn.trade-schools.net/static/graphics/animal-care.jpg">
                <div class="team-hidden-content">
                    <p>Daisy is the senior veterinary technologist at Adopt a Pet.<br>
                    Having grown up on a cattle farm deep in the mid-west, everyone expected Daisy to follow in her family's footsteps and eventually take over the farm.  After a fateful meeting with a tiny Dachshund puppy on Daisy's 10th birthday party however, Daisy realised that with her immense love for animals there was no way she could participate in the brutal slaughter of animals just so a human could gorge themselves on their flesh.</p>
                </div>
                <button id="showMore" class="btn btn-primary custom-btn team-show-content">Read more</button>  
            </div>
        </div>
        <div class="row profiles">
            <div class="col-md-4 col-sm-6 col-xs-12">
                    <h3>Rapunzel Ragdoll</h3>
                    <h5>Dog Walker</h5>
                    <img class="img-thumbnail img-responsive" src="http://www.rutherfordcomed.co.nz/Content/Img/dog%20walking.jpg">
                    <div class="team-hidden-content">
                        <p>Rapunzel joined the Adopt a Pet team a year ago while she was visiting the country on her OE.  Hailing from Germany, Rapunzel grew up enjoying the beautiful landscapes of Bavaria and would regularly volunteer to walk the pets of the people in her village.  During her travels overseas, rather than missing out on the pleasure of canine company, she has taken on the role of our lead dog walker.  All the dogs at Adopt a Pets love to spend time with Rapunzel and whether it's one dog or 20, she manages to show each one a good time.</p>
                        
                    </div>
                    <button id="showMore" class="btn btn-primary custom-btn team-show-content">Read more</button>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                 <h3>Dr Bob Builder</h3>
                <h5>Senior Vet</h5>
                <img class="img-thumbnail img-responsive" src="http://career.iresearchnet.com/wp-content/uploads/2014/06/Veterinarian.jpg">
                <div class="team-hidden-content">
                    <p>Dr Bob is a senior veterinarian at Adopt a Pet.<br>
                    Whether he's treating a gerbil or a german shepherd, Bob loves every animal that comes across his treatment table.<br>Bob started his career as a veterinarian for the military, taking care of the dogs that accompany our country's soliders.  After a tour overseas, Bob decided that he would prefer to dodge big city traffic rather than shrapnel and so settled in a quiet suburb and took up his role at Adopt a Pet.</p>
                </div>
                
                <button id="showMore" class="btn btn-primary custom-btn team-show-content">Read more</button>   
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <h3>Daisy Duke</h3>
                <h5>Senior Veterinary Technologist</h5>
                <img class="img-thumbnail img-responsive" src="https://cdn.trade-schools.net/static/graphics/animal-care.jpg">
                <div class="team-hidden-content">
                    <p>Daisy is the senior veterinary technologist at Adopt a Pet.<br>
                    Having grown up on a cattle farm deep in the mid-west, everyone expected Daisy to follow in her family's footsteps and eventually take over the farm.  After a fateful meeting with a tiny Dachshund puppy on Daisy's 10th birthday party however, Daisy realised that with her immense love for animals there was no way she could participate in the brutal slaughter of animals just so a human could gorge themselves on their flesh.</p>
                </div>
                <button id="showMore" class="btn btn-primary custom-btn team-show-content">Read more</button>  
            </div>
        </div>
    </div>




<% include partials/footer %>