<% include partials/header %>

<div class="container team-section">
    <div class="row">
        <h2>VOLUNTEER REQUIREMENTS</h2>
        <div class="row volunteer-info">
            <div class="col-sm-6 col-xs-12">
                <ul class="vol-req">
                    <li><i class="fa fa-paw" aria-hidden="true"></i>Volunteers must be 18 years or older.</li>
                    
                    <li><i class="fa fa-paw" aria-hidden="true"></i>Volunteers must complete an application form, successfully pass a phone interview, submit a criminal records check, and attend orientation sessions prior to beginning volunteer duties.</li>
                </ul>
            </div>
            <div class="col-sm-6 col-xs-12">
                <ul class="vol-req">
                    <li><i class="fa fa-paw" aria-hidden="true"></i>Volunteers must be able to work safely around all species of animals.</li>
                    <li><i class="fa fa-paw" aria-hidden="true"></i>The animal shelter does not offer cooperative education placement for students.</li>
                    <li><i class="fa fa-paw" aria-hidden="true"></i>A minimum commitment of six months is required.</li>
                    <!--<li></li>-->
                </ul>
            </div>
        </div>
        
    </div>
    <div class="row faq-accordion">  <!--Row opening div -->
        <h2>VOLUNTEER FAQS</h2>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"> <!--First panel-group opening div -->
          <div class="panel panel-default"> <!-- first panel opening div -->
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Do you accept all volunteers?
                </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <p>No unfortunately we don't accept everyone.  We are looking for a range of skills from office management to veterinary nursing.  As a volunteer organisation, we don't have the resources to offer extensive training so we are looking for people who come with certain skills and can take up tasks with minimal training and supervision.</p>
              </div>
            </div>
          </div>  <!--First panel closing div -->
          <div class="panel panel-default"> <!-- Second panel opening div -->
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  How do I become a volunteer?
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                <p>We ask candidates to complete the application form which will provide us with relevant information about your skills and background.  From there if you're considered a suitable prospective candidate, we will conduct a phone interview to obtain more information and assess your suitability.  Once you've passed the interview step, we will then carry out background checks and if everything looks good, you will then be invited to a volunteer orientation event.</p>
              </div>
            </div>
          </div>  <!--Second panel closing div -->
          <div class="panel panel-default">  <!--Third panel opening div -->
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Why do you do a background check?
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                <p>Our volunteers are working in a variety of roles, some of which include working with vulnerable groups such as children, elderly and of course, animals.  Background checks provide us with the assurance that our volunteers can be trusted to perform responsibly in their roles and uphold the high standard that our organisation is known for.</p>
              </div>
            </div>
          </div>  <!--Third panel closing div -->
          <div class="panel panel-default">  <!--Fourth panel opening div -->
            <div class="panel-heading" role="tab" id="headingFour">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  I'd like to just try volunteering once or twice, is this ok?
                </a>
              </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
              <div class="panel-body">
                <p>Due to the resources required to select volunteers and provide them with adequate information and training, we ask our volunteers to commit to at least six months.  This also allows consistency for the organisation as volunteers are able to increase their skills the longer they stay with us.</p>
              </div>
            </div>
            </div>  <!--Fourth panel closing div -->
            <div class="panel panel-default">  <!--Fifth panel opening div -->
            <div class="panel-heading" role="tab" id="headingFive">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  Is it ok to volunteer so I can adopt an animal?
                </a>
              </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
              <div class="panel-body">
                <p>An important part of volunteering is a personal commitment to the animals. One of the forms this can take is fostering and adopting the animals in our care. While it is important to support volunteers in this, it is important to recognize that volunteering can be emotionally overwhelming and can lead to an unrealistic urge to save every animal through an over commitment or ill-considered fostering and/or adoption commitment. To encourage responsible adoptions, volunteers must complete a probationary period of 6 months before adopting an animal.</p>
              </div>
            </div>
            </div>  <!--Fifth panel closing div -->
            <div class="panel panel-default">  <!--Sixth panel opening div -->
            <div class="panel-heading" role="tab" id="headingSix">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  Can I volunteer as part of an education placement?
                </a>
              </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
              <div class="panel-body">
                <p>Unfortunately, we do not have a program established to accommodate student education placements. Our volunteer programs require a significant amount of experience and training and we do not have the resources to offer training to students who will be leaving after a short period of volunteer work.</p>
              </div>
            </div>
            </div>  <!-- Sixth panel closing div -->
        </div>
        
    </div>  <!-- Row closing div -->
    
    <div class="row">
        <button class="btn btn-primary custom-btn btn-lg"><a href="/application">Apply to volunteer!</a></button>  
    </div>

</div> <!-- Container closing div -->


<% include partials/footer %>