<% include ../partials/header %>

    <div class="container team-section">   <!--Container opening div-->
    
        <div>
            <h2>CATS FOR ADOPTION</h2>
        </div>
        <div class="row">
            <div>
                <h4>Click on the read more button to find out more about each cat.</h4>
            </div>
        </div>
        <div class="row">
            
            
                <% cats.forEach(function(cat) { %>
                <div class="col-md-3">
                    <h3> <%= cat.name %> </h3>
                    <img class="img-thumbnail img-responsive" src="<%=cat.img%>">
                    <div class="adopt-dogs">
                        
                        <a class="btn btn-warning btn-lg" href="/adopt/cats/<%=cat.id%>">READ MORE</a>
                    </div>
                </div>
                    
                <% }); %>
        </div>
        
        <div class="newCat">
            <a class="btn btn-primary btn-med" href="/adopt/cats/new">Add a new cat</a>
        </div>
    </div>  <!--Container closing div -->


<% include ../partials/footer %>